.profile{
    background-color: #f6f2f0;
    margin: 1rem;
    border: 20px double #c1bab6;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.profile img{
    border-radius: 50%;
}